
<div >

  <mat-icon class="cursor-home" routerLink="" >home_circle</mat-icon>
  <mat-card-content class="container conteudo-login">

    <form class="card-logi" name="form" #f="ngForm"  >
      <div class="bottom-alert ">
        {{showErrorMessage}}
      </div>

      <mat-card-content class="conteudo-login component-g ">
        <h1>Login</h1>
        <mat-icon>account_circle</mat-icon>
        <mat-card class="component-g">
          <label>Email</label>
          <input class="input-login" type="text" name="email" id="email"
                 (dblclick)="clearInput()"
                 [(ngModel)]="form.username" #email="ngModel" required>
          <div class="form_error" *ngIf="email.errors && f.submitted">
            Email is required !
          </div>
        </mat-card>

        <aside>
          <div *ngIf="spiner " class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </aside>

        <mat-icon>vpn_key</mat-icon>
        <mat-card class="component-g">
          <label>Senha</label>
          <input class="input-login" type="password" name="password" id="password"
                 (dblclick)="clearInput()"   [(ngModel)]="form.password" #password="ngModel" required minlength="3">
          <!-- <mat-error *ngIf="password.errors && f.submitted"> Senha é  <strong>obrigatória</strong>
           </mat-error>-->
          <div class="form_error" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">Password must be at least 5 charracters</div>
          </div>
        </mat-card>
        <mat-icon>plane</mat-icon>
        <button [class.bottom-container]="form"
                [disabled]="!f.valid"
                class="bottom-container body "
                (click)="onSubmit()" >
          <mat-icon>input</mat-icon>
          {{'Login'}}
        </button>
      </mat-card-content>

    </form>
    <button class="bottom-container body" (click)="openDialogUser()" >
   Ainda não tenho conta.</button>


</mat-card-content>


</div>


