
<div>
<mat-card class="mat-card-table">

  <h6>  Usuarios </h6>
  <mat-toolbar color="primary" >


    <div class="row">
      <mat-form-field >
      <input class="input-table" type="text" placeholder="Digite a busca" matInput
      [formControl]="usuarioControl" (keydown)="listarUsuarios()"
      (keyup)="aplicarFiltro(usuarioControl.value)"
      [matAutocomplete]="auto"/>
        <mat-error>Campo Obrigatório não preenchido.</mat-error>
      <mat-autocomplete #auto ="matAutocomplete">
        <mat-option [value]="iUsuarios.name" *ngFor="let iUsuarios of usuariosFiltrados">{{iUsuarios.name}}</mat-option>
      </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button class="add" (click)="openDialogo(usuarioControl.value)" >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button class="list" (click)="listarUsuarios()">
        <mat-icon>list</mat-icon>
      </button>

    </div>
  </mat-toolbar>

  <table  mat-table class="button-gradient body" id="tbUsuario" [dataSource]="tbSourceUsuarios$"
        matSort (matSortChange)="onMatSortChange()" matSortDirection="asc"
    multiTemplateDataRows class="mat-elevation-z8">

        <ng-container matColumnDef="id_usuario">
          <th mat-header-cell *matHeaderCellDef class="mat-header-row" size="50">ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="nome_usuario">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>


    <ng-container matColumnDef="opicoes">
      <th mat-header-cell *matHeaderCellDef> Opições </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="edit" (click)="editarElement(element)" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete" (click)="deleteElement(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef=" let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3"></td>
        </tr>
  </table>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>

</mat-card>
</div>
