
    <nav class="menu-lable body">
      <div>
      <mat-icon class="lable-link" >home</mat-icon>
      <a class="lable-link" routerLinkActive="active" [routerLink]="['/']">home</a>
      </div>


      <div>
      <mat-icon class="lable-link" >assignment_ind</mat-icon>
      <a class="lable-link" routerLinkActive="active" [routerLink]="['district']">
       Departamentos</a>
      </div>


      <div>
      <mat-icon class="header-image" >login</mat-icon>
      <a class="lable-link"  routerLinkActive="active" [routerLink]="['/auth/login']">Entrar</a>
      </div>

    </nav>



