

.container-top-home{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5px;
  padding: 15px;
  background: linear-gradient(145deg, #c3aedb, #b29edb);
  box-shadow:  20px 20px 60px #b2acc4,
  -20px -20px 60px #3d5257;
  color: #72ec3a;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
}

.component-about-me{
  width: auto;
  display: grid;
  background: linear-gradient(145deg, #c3aedb, #b29edb);
  box-shadow:  20px 20px 60px #b2acc4,
  -20px -20px 60px #3d5257;
  color: #72ec3a;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  font-family:"Fira Code Light";
  font-size: 14px;
  padding: 8px 20px 10px 20px;
}
.component-about-me:hover{
  color: #00030a;
  cursor: default;
}

.label-descrition{
  width: auto;
  font-family:"Fira Code Light";
  font-size: 14px;
  color: #054021;
  padding: 8px 20px 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.label-descrition:hover{
  color: #22023b;
  font-size: 16px;
  cursor: default;
}

.img-magnifier-container{
  position: relative;
  border-radius: 30px;
  width: 525px;
}
.img-magnifier-container:hover{
  position: absolute;
  cursor: grab;
  width: 125px;
  height: 150px;
}


.grid-mast {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr ;
}

.s-grid {
  border-left:1px solid #aaa;
  max-width: 95px;
  margin-top: 0px;
  margin-bottom: 2px;
}

